#nav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 0;
    height: 3rem;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 15px rgb(209, 209, 209);
}
#nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bold;
}
#nav a:hover {
    color: navy;
    background-color: rgb(209, 209, 209);
    border: solid;
    border-color: black;
    padding-top: 12px;
    font-size: 20px;
}
#nav :first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 100px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
}
#nav :nth-child(2) {
    position: absolute;
    border: solid;
    border-color: rgb(209, 209, 209);
    border-width: 5px;
    top: 0;
    left: 0;
    width: 70px;
    height: 40px;
}
.maindiv {
    background-color: rgb(84, 84, 84);
    margin-right: 160px;
    margin-left: 160px;
    box-shadow: 0px 1px 25px -3px rgb(209, 209, 209);
}
body {
    background-color: rgb(46, 46, 46);
}
hr {
    margin-right: 20px;
}
#SectionHR {
    margin-left: 20px;
}
main {
    padding-left: 20px;
    color: rgb(209, 209, 209);
}
.mainhead {
    text-align: center; 
    text-shadow: 0px 3px 10px black;
    left: 0;
    font-size: 2.5rem;
    padding-top: 50px;
}
.mainhead2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}
.indexsummary {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.indexsummary section {
    border: solid;
    border-width: 1x;
    background-color: rgb(209, 209, 209);
    box-shadow: 0px 5px 15px black;
    width: 300px;
    height: 200px;
    color: black;
}
.indexsummary section h3 {
    text-align: center;
    text-shadow: 0px 1px 2px rgb(5, 5, 5, 0.5);
}
#SkillList {
    list-style-type: none;
    padding-bottom: 20px;
}
#SkillList li p {
    display: inline;
    position: relative;
    bottom: 6px;
    padding-left: 5px;
}
#BootstrapP {
    padding-left: 5px;
}
#SkillsHead {
    margin-bottom: -10px;
}
#CodingIcons {
    width: 25px;
    height: 23px;
}

/*Fixes JS icon/text in 'skills' flexbox*/
#SkillList :nth-child(3) img {
    width: 35px;
    margin: -5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#SkillList :nth-child(3) p {
    position: relative;
    bottom: 8px;
}
#SkillList :first-child :nth-child(3) {
    padding-left: 60px;
}
#quote {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.FSAIcon {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding-right: 10px;
    float: left;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 7px 15px 20px rgb(46, 46, 46)
}
.HomeIntroP {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
}
.HomeIntro h1 {
    text-align: center;
    padding-right: 115px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3px 10px black;
}
.HomeIntroTwo h1 {
    text-align: center;
    padding-right: 115px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3px 10px black;
}
.FGImage {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    float: left;
    width: 220px;
    height: 160px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 7px 15px 20px rgb(46, 46, 46)
}
.footerOne {
    position: absolute;
    color: white;
    background-color: black;
    width: 86.5rem;
    margin: 0;
    border: 1px solid;
    box-shadow: 0px 0px 15px rgb(209, 209, 209);
}
.footerOne .footerDivOne a:hover {
    color: navy;
    background-color: rgb(209, 209, 209);
    border: solid;
    border-color: black;
    font-size: 30px;
}
.footerOne .footerDivOne a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.footerDivOne {
    margin-left: 100px;
    top: 50px;
    position: relative;
}
.squares {
    margin-left: 320px;
    margin-top: -100px;
    position: relative;
    bottom: 70px;
}
.squareComplete{
    padding: 10px 17px 10px 17px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: greenyellow;
    border: solid;
    border-color: rgb(84, 84, 84);
}
.squareIncomplete {
    padding: 10px 17px 10px 17px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border: solid;
    border-color: rgb(84, 84, 84);
}
.squares span {
    margin-left: 10px;
}
#doubleNumSquare {
    padding: 10px 12px 10px 12px;
}
.squareHeaderPar {
    padding-left: 450px;
    padding-top: 25px;
}
.squareHeader {
    position: relative;
    bottom: 200px;
}
.navSocialSquare {
    display: flex;
    position: fixed;
    left: 1270px;
    bottom: 592px;
    background-color: white;
}
.navSocialSquare :first-child {
    display: block;
    height: 35px;
    border: 1px solid;
    border-color: white;
}
.navSocialSquare :nth-child(2) {
    display: block;
    height: 35px;
    margin-left: 70px;
    border: 1px solid;
    border-color: black;
}
.navSocialSquare img:hover {
    box-shadow: 0px 0px 5px 3px rgb(209, 209, 209);
}

/* ABOUT PAGE STYLING ********************************************** */

.aboutdiv {
    background-color: rgba(88, 113, 140, 0.66);
    margin-right: 160px;
    margin-left: 160px;
    box-shadow: 0px 1px 25px -3px rgb(209, 209, 209);
}
.mainHeadAbout {
    text-align: center; 
    text-shadow: 0px 3px 10px black;
    left: 0;
    font-size: 2.5rem;
    padding-top: 50px;
}
.DoverImage {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 7px 15px 15px rgb(46, 46, 46)
}
.BTCImage {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 7px 15px 15px rgb(46, 46, 46)
}
.BooksImage {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 7px 15px 15px rgb(46, 46, 46)
}
.AboutSectionOne h1 {
    margin-left: 15px;
    padding-right: 115px;
    font-size: 28px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3px 1px black;
}
.AboutSectionTwo h1 {
    margin-left: 15px;
    padding-right: 115px;
    font-size: 28px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3px 1px black;
}
.AboutSectionThree h1 {
    margin-left: 15px;
    padding-right: 115px;
    font-size: 28px;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3px 1px black;
}
.aboutP {
    margin-left: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
}

/* PORTFOLIO PAGE STYLING ********************************************** */

.portfolioDiv {
    background-color: rgba(88, 140, 94, 0.66);
    margin-right: 160px;
    margin-left: 160px;
    box-shadow: 0px 1px 25px -3px rgb(209, 209, 209);
}

.mainHeadPortfolio {
    text-align: center; 
    text-shadow: 0px 3px 10px black;
    left: 0;
    font-size: 2.5rem;
    padding-top: 50px;
}